table,th,td
{
font-family: "calibri";
border-collapse:collapse;
vertical-align:center;
position: relative;
}

td
{
background-color:rgb(200,200,200);
}

th
{
background-color:rgb(230,230,230);
}

body, html 
{
  height: 100%;
}

div.wrapper 
{
  height: 100%;
  overflow: hidden;
}

body
{
  overflow: hidden;
}

/* Type stuff ---------------------------------- */

@font-face 
{
  font-weight: normal;
  font-style: normal;
}
h1 
{
  font: 30px/1.2 'MidoMedium', Arial, sans-serif;
  letter-spacing: 0;
  clear: both;
}

h2 
{
	font: 20px/.3 'MidoMedium', Arial, sans-serif;
	letter-spacing: 0;
}

a
{
  text-decoration: none;
}

#under { z-index: 100 }

#over { z-index: 300 }

#my_video_1 { z-index: 200 }

#zindexTest h4 {
  padding: 10px;
  margin: 0;
}
#zindexTest #under {
  position: absolute;
  top:80px;
  left: 10px;
  background: #fff;
  width: 500px;
  text-align: left;
  margin: 0;
  padding: 0;
  color: #000;
}
#zindexTest #over {
  position: absolute;
  left: 10px; 
  top:10px;
  background: rgba(22,33,66,0.8);
  width: 150px;
  text-align: left;
  margin: 0;
  padding: 0;
}

.rulerClass
{
  background-color: rgba(0,0,0,0);
}

img 
{ 
  width: 100%;
  height:100%; 
}

#vid {
	width: 640px;
	height: 360px;
}

#scrubber {
	position: relative;
	width: 100%;
	height: 20px;
}

.ui-slider-range { background: #003bff; }
.ui-widget-content { background: #00a7ff; }

#progress {
	width: 0;
	height: 20px;
	background-color: rgb(180,110,40);
}