/*DMVPlayer Copyright 2014 by ISD197*/

#slider
{
  margin-top: 0px;
}

#button_table_1
{
  margin-top: 5px;
}

.playerButtons
{
  height: 30px;
  width: 40px;
}

.playerButtonTableCell
{
  width: 5%;
}

table,th,td
{
  font-family: "calibri";
  border-collapse:collapse;
  vertical-align:center;
  position: relative;
  border: "0";
  margin-top: 5px;
  background-color:rgb(200,200,200);
}

body, html 
{
  height: 100%;
  overflow: hidden;
}

@font-face 
{
  font-weight: normal;
  font-style: normal;
}

p 
{
  font: 'MidoMedium', Arial, sans-serif;
}

h1 
{
  font: 30px/1.2 'MidoMedium', Arial, sans-serif;
  letter-spacing: 0;
  clear: both;
}

h2 
{
	font: 20px/.3 'MidoMedium', Arial, sans-serif;
	letter-spacing: 0;
}

a
{
  text-decoration: none;
}

img 
{ 
  width: 100%;
  height:100%; 
}

#under { z-index: 10 }

#zindexTest #under {
  position: absolute;
  top:80px;
  left: 10px;
  background: #fff;
  width: 500px;
  text-align: left;
  margin: 0;
  padding: 0;
  color: #000;
}
#zindexTest #horizontalRuler {
  position: absolute;
  left: 10px; 
  top:10px;
  background: rgba(22,33,66,0.8);
  width: 150px;
  text-align: left;
  margin: 0;
  padding: 0;
}

#vid {
	width: 640px;
	height: 360px;
}

#scrubber {
	position: relative;
	width: 100%;
	height: 20px;
}

/*Help Text for the Tools*/
.toolHelpText_Drag
{
	position: absolute;
	top: 5%;
	left: 5%;
	font-family: Arial, Helvetica, sans-serif;
}
.toolHelpText_Resize
{
	position: absolute;
	top: 40%;
	left: 5%;
	font-family: Arial, Helvetica, sans-serif;
}

/*Overlay Image*/
/*This is not implemented yet.*/
#overlayImageID
{
	position: relative;
}