    #vid {
        width: 640px;
        height: 360px;
    }

    #scrubber {
        position: relative;
        width: 100%;
        height: 20px;
        background-color: rgb(200,200,200);
    }

    #progress {
        width: 0;
        height: 20px;
        background-color: rgb(180,110,40);
    }

	table,th,td
	{
		font-family: "calibri";
		border-collapse:collapse;
		vertical-align:center;
		position: relative;
	}
	td{
		background-color:rgb(200,200,200);
	}
	th{
		background-color:rgb(230,230,230);
	}